:root {
    /* Colores Principales */
    --primary: #2563eb;
    --primary-hover: #1d4ed8;

    --background: #f5f7fa;
    --card: #ffffff;

    --text: #172033;
    --text-secondary: #64748b;
    --text-light: #94a3b8;

    /* Colores para los bordes */
    --border: #e2e8f0;
    --border-light: #edf1f5;

    /* Colores para las alertas */
    --success: #10b981;
    --warning: #f59e0b;
    --danger: #ef4444;
}